body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #8DB4E2;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

#ingredients-list {
    display: grid;
